.p0{
    padding:0px !important;
}
.mt10{
  margin-top: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.mt15{
  margin-top: 15px;
}
.mb20{
  margin-bottom: 20px;
}
.mt30{
  margin-top: 30px;
}
.mb30{
  margin-bottom: 30px;
}
.ml15{
  margin-left: 15px;
}
.pr0{
  padding-right: 0px;
}
.pl0{
  padding-left: 0px;
}
.body-content {
    margin-top: 100px;
}
